
 body{
  background-color: gray;
  font-family: Arial, Helvetica, sans-serif Verdana, Geneva, Tahoma, sans-serif;
 
}


div#main{
  padding: 10px;
  background-color: #5c4747;
  min-height: 768px;
  width: 1024px;
  margin: auto;
}
h1{
  font-size: 3em;
}
h1, h2{
  color: lightblue;
}
  
  p {
    color: white;
    font-size: 15px;
  }

  p span{
    color: yellow;
  }
  
  p.italic{
    font-style: italic;
  }
  section img{
    height: 300px;
  }
 a:link{color: red;
  text-decoration-line:none;
  
}
 a:visited{color:yellowgreen;}
 a:hover{color: blue;
        text-decoration-line: underline; 
}

 p::first-letter{
  float: left;
   color: blue; 
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  padding-bottom: 5px;
  margin-right: 5px;
  margin-bottom: -5px;
 }

 ul{
  list-style: none;
  
  
 }
 

 #white{
  color: white;
  
 }

 #yellow{
  color : yellow
 }
 p.backwards{
  -webkit-transform:rotate(180deg);text-align:left;
  -webkit-transform:scale(1,-1);
-moz-transform:scale(1,-1);
-ms-transform:scale(1,-1);
-o-transform:scale(1,-1);
transform:scale(1,-1);

 }











