
/* Reset some default styles */

* {
    box-sizing: border-box;
}
/* Add fonts from Google Fonts */
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Crimson+Text:400,700&display=swap" rel="stylesheet">
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
   font-family: 'Montserrat', sans-serif;
    font-size: 16px;
     margin-top: 60px; /* Adjust the value to match the header's height */
 max-width: 100%; /* Limit the maximum width to the viewport width */
    overflow-x: hidden; /* Hide horizontal overflow */
}

h1, h2, h3 {
    font-family: 'Crimson Text', serif;
     margin-bottom: 15px;
}

/* Adjust font sizes and line heights */
h1 {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
}

h2 {
    font-size: 28px;
    line-height: 1.3;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}


.darken-video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the alpha value for darkness */
}
header {
    background-color:gray; /* Red color */
    color: white;
    padding: 0px;
    display: flex;
    justify-content: space-between; /* Space between logo and menu */
    align-items: center; /* Center items vertically */
    position: fixed; /* Set the header to be fixed */
    top: 0; /* Position at the top of the viewport */
    width: 100%; /* Take up the full width of the viewport */
    z-index: 1000; /* Ensure the header appears above other content */
    transition: all 0.3s ease; /* Add smooth transition effect */
}



/* Styles for the header when scrolled */
header.scrolled {
    background-color: white;
    padding: 10px; /* Adjust padding when scrolling */
    color: #333333;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Add a new class for the scrolled navigation items */
nav ul li a.scrolled {
    color: #333333; /* Change to the desired color */
    /* Add any other styles you want for the scrolled items */
}

/* Add styles for the navigation menu */
nav ul.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul.nav-list li {
    margin-right: 20px;
}

nav ul.nav-list li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease; /* Add smooth transition for color change */
}

/* Change the color of the navigation links to white */
nav ul.nav-list li a:hover {
    color: #333333; /* Change to the desired hover color */
}

/* Style for the logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px;
}

.logo-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo-text h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.logo-text p {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

/* Keyframes for blinking animation */
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* Styles for the blinking paragraph */
.blink {
    animation: blink 5s infinite;
}

/* Add styles for the dropdown menu */
.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: gray;
    padding: 10px;
    list-style: none;
    max-width: 200px; /* Limit the width of the dropdown menu */
    z-index: 1; /* Ensure the dropdown appears above other content */
}

/* Add margin between dropdown items */
.dropdown-menu li {
    margin-bottom: 8px;
}

.dropdown-menu li:last-child {
    margin-bottom: 0;
}

/* Ensure text fits the line */
.dropdown-menu a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */
    color: white;
    text-decoration: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* Toggle menu styles */
.toggle-menu {
    display: none; /* Initially hide the toggle menu */
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

/* Show the toggle menu at smaller screen sizes */
@media (max-width: 768px) {
    .toggle-menu {
        display: block; /* Show the toggle menu */
    }

    nav ul.nav-list {
       list-style: none;
        display: flex; /* Hide the main navigation menu */
        flex-direction: column; /* Stack the menu items vertically */
        background-color: gray; /* Set background color for the toggle menu */
        padding: 10px; /* Add space around the navigation items */
        position: absolute;
        top: 60px; /* Adjust based on your header's height */
        right: 0;
       left: -100%; 
       width: 150px; /* Adjust as needed */
    z-index: 999; /* Ensure the menu appears above other content */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); /
    }

    .toggle-menu.show .bar {
        background-color: white; /* Change bar color when toggle menu is expanded */
    }

    /* Show the main navigation menu when the toggle menu is clicked */
    .toggle-menu.show + nav ul.nav-list {
        display: flex;
    }
}
/* Show the menu when the 'show' class is applied */
nav ul.nav-list.show {
    left: 0; /* Display the menu on the left */
}

/* Add space and lines between menu items */
nav ul.nav-list li {
    margin-bottom: 10px; /* Add space between menu items */
    border-bottom: 1px solid white; /* Add a line between menu items */
    padding-bottom: 5px; /* Add space between the line and text */
}

.toggle-menu.show .bar {
    background-color: white; /* Change bar color when toggle menu is expanded */
}


/* Keyframes for blinking animation */
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* Styles for the blinking paragraph */
.blink {
    animation: blink 5s infinite;
}


.dropdown {
    position: relative;
height: 50px; /* Adjust the height as needed */

}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: gray;
    padding: 10px;
    list-style: none;
   max-width: 200px; /* Limit the width of the dropdown menu */
}

/* Add margin between dropdown items */
.dropdown-menu li {
    margin-bottom: 8px;
}

.dropdown-menu li:last-child {
    margin-bottom: 0;
}

/* Ensure text fits the line */
.dropdown-menu a {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */
    color: white;
    text-decoration: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px; /* Adjust as needed */
    background-color: gray;
    padding: 10px;
}

/* Adjust the styles for the navigation links in the toggle menu */
nav ul.show li {
    margin-bottom: 15px; /* Add space between navigation items */
}

#history {
    padding: 20px;
        background-color: #f8f8f8;
        text-align: center;
}

.history-content {
display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
}

.history-text {
 flex: 1;
        padding: 20px;
        text-align: justify;
}

.history-text h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
}

.history-text p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 20px;
}

.history-image {
  flex: 1;
        padding: 20px;
        text-align: center;
}

.history-image img {
     max-width: 100%;
        height: auto;
}

 /* Adjust font size for smaller screens if needed */
    @media screen and (max-width: 768px) {
        .history-content {
            flex-direction: column;
        }

        .history-text,
        .history-image {
            flex: 0 0 100%;
            text-align: center;
        }
    }
.footer {
    background: linear-gradient(to bottom, #000000, #FFFFFF);
    padding: 10px 0;
    text-align: center;
    color: #fff;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
  }
  .footer .church-name {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
  }

 .footer .church-logo {
    max-width: 100px;
    margin-bottom: 20px;
  }

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.contact-info {
    flex: 1;
    text-align: left;
    color: #333;
}

.contact-form {
    flex: 1;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-submit {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.social-media {
    flex: 1;
    text-align: right;
    margin-top: 30px;
}

.social-media a {
    margin: 0 10px;
    font-size: 20px;
    color: #333;
    text-decoration: none;
}

/* Responsive CSS */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .contact-info, .contact-form, .social-media {
        flex: 1;
        width: 100%;
    }

    .contact-info {
        margin-bottom: 20px;
    }

    .social-media {
        margin-top: 20px;
    }
}
  .copyright {
    margin-top: 20px;
    font-size: 12px;
    color: #777;
  }
